* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* HIDDEN
    border: 3px solid green;
    box-shadow: 0px 0px 4px #C4C4C4;
*/
  }

  p {
    font-family: var(--secondaryFont);
    font-weight: lighter;
    line-height: 2rem;
    color: var(--text-color);
    font-size: 1.3rem;
  }

  h1 {
    font-family: var(--primaryFont);
    color: var(--text-color);
    font-weight: 500;
    font-size: 80px;
    letter-spacing: -2px;
  }

  h2 {
    font-family: var(--secondaryFont);
    font-weight: 600;
    color: var(--text-color);
    font-size: 2rem;
  }

  h2 a {
    font-family: var(--primaryFont);
    font-weight: lighter;
    color: var(--text-color);
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  h3 {
    font-family: var(--primaryFont);
    font-weight: lighter;
    color: var(--text-color);
    font-size: 2rem;
    padding: 10px 0 10px 0;
  }

  a {
    font-family: var(--secondaryFont);
    font-weight: normal;
    line-height: 1.8rem;
    color: var(--text-color);
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 1;
  }

  h4 {
    font-family: var(--secondaryFont);
    font-weight: 300;
    line-height: 2rem;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 10px 0 10px 0;
  }

  h5 {
    font-family: var(--secondaryFont);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: var(--text-color);
  }

  h6 {
    font-family: var(--secondaryFont);
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 2rem;
    color: var(--text-color);
    text-align: right;
  }

  h7 {
    font-family: Lato, Poppins, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--text-color);
    font-size: 4rem;
  }

  h8 {
    font-family: var(--primaryFont);
    font-weight: lighter;
    font-size: 2.5rem;
    color: var(--text-color);
    padding: 10px 0 10px 0;
  }
  

  li {
    font-family: var(--secondaryFont);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--text-color);
  }


  :root {

/* Colours */
    --background: #e8e5e5;
    --primaryColor: #fb3f5c;
    --primaryColor-dark: #a81e33;
    --primaryColor-light: #ff8497;
    --text-color: #50534f;
    --text-light: #C4C4C4;
    --clr-primary: #424242; 
    --clr-dark: #1b1b1b;
    --clr-light: #1f1f1f;

    --ln: 1px solid #C4C4C4;
    --main-margin: 4rem;
    --mobile-margin: 2rem;
    --max-width: 1440px;

    --primaryFont: Lato, Poppins, Helvetica, sans-serif;
    --secondaryFont: Nunito, Arial, Helvetica, sans-serif;

/* Animation */
    --motion-1: 120ms;
    --motion-2: 240ms;
    --motion-3: 600ms;
    --motion-4: 1200ms;
  }

body, html {
  width: 100%;
  height: auto;
  }

nav {
  position: sticky;
  top: 0;
  height: 72px;
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  z-index: 1000;
  }
    
#wailogo {
  display: flex;
  align-items: center;
}

.emptydiv {
  min-width: 50px;
}    

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  }

#burger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}

#topbtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 151; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  background-color: #fb3f5c;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem 3rem; /* Some padding */
  border-radius: 4rem; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topbtn:hover{  
  background-color: #a81e33;
}

#myBtn:hover {
  background-color: var(--clr-primary);
}

/* HERO */
.wrapper {
  background-color: var(--background);
}


.Highlight {
  color: var(--primaryColor)
}

.button {
  background-color: var(--primaryColor);
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  text-decoration: none;
  border-style: none;
  cursor: pointer;
  transition: var(--motion-2);
}

button:hover {
  background-color: var(--primaryColor-dark);
}

button:active {
  background-color: var(--primaryColor-light);
  transition: var(--motion-1);
}

/* Portfolio Section */

.full-hero {
  grid-column: span 12;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--main-margin);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

.block-1 {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.head {
  width: 100%;
  min-height: 500px;
  margin: 0px auto;
  padding: var(--main-margin);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  background-color: #F5F8FF;
  background-image: url(../images/tripal-hero-insitu.jpg);
  background-size: cover;
  background-position: bottom;
}

#head-title {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.ul-head {
  margin: 2rem 0;
  list-style: none;
}

.margin30px {
  margin: 0 4rem;
  text-align: center;
}

.project-head {
  grid-column: span 12;
}

.project-copy {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20rem o;
  padding-top: 3rem;
}

.project-title {
  width: 80%;
  text-align: center;
  padding-bottom: 0.05rem;
  padding: o, 5rem;
}

.project-title-span12 {
  width: 100%;
  text-align: center;
  padding-bottom: 0.05rem;
  padding: o, 5rem;
}

.project-image {
  grid-column: span 12;
  min-height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-3rows {
  grid-column: span 12;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.box-rows {
  flex: 100%;
  min-height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.statement-box {
  margin: 20px 0;
  flex: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FEF2C6;
  padding: 50px;
  border-radius: 2rem;
}

.statement-box-blank {
  margin: 20px 0;
  flex: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 2rem;
}

.process-box {
  margin: 20px 0;
  flex: 10%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FEF2C6;
  padding: 0px;
  border-radius: 2rem;
}

.copy-container {
  flex: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.img-container {
  flex: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.img-container-center {
  flex: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  gap: 2rem;
}

.box-img {
  min-width: 100%;
  min-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-flexrows {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 4rem;
}

.persona-container {
  grid-column: span 12;
  flex: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4rem;
  padding: 2rem 2rem 4rem;
  border-radius: 1rem;
  background-color: #FFF8E0
}

.persona-list {
  list-style: none;
}

.bio-list {
  list-style: none;
  font-family: var(--secondaryFont);
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: var(--text-color);
  padding-top: 1rem;
}


.container-2col {
    grid-column: span 12;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

.side-text {
  padding-right: 2rem;
  flex: 0 30%;
}
.image-box70 {
	flex: 0 70%;
}
.stacked-copy {
  padding-bottom: 1.5rem;
  font-family: var(--secondaryFont);
  line-height: 1.8rem;
  color: var(--text-color);
  font-size: 1.2rem;
} 

.image-box50 {
	flex: 0 50%;
  padding-right: 5rem;
}


/* ------------------------------------------------*/
/* ------------------IMAGES------------------------*/
/* ------------------------------------------------*/
/* ------------------------------------------------*/

#image-link-1 {
  background-image: url('../images/herocard-abc-1.jpg');
}

#image-link-2 {
  background-image: url('../images/abc-heuristic.png');
width: auto;
height: 100%;
min-height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

#image-link-3 {
  background-image: url('../images/abc-info-architecture.png');
  width: auto;
height: 100%;
min-height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

#image-link-4 {
  background-image: url('../images/tripal-3.png');
}

#image-link-5 {
  background-image: url('../images/tripal-4.png');
}

#image-link-6 {
  background-image: url('../images/abc-persona-richard.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

#image-link-7 {
  background-image: url('../images/abc-user-insights.png');
}

#image-link-8 {
  background-image: url('../images/work-abc-2.jpg');
}

#image-link-9 {
  background-image: url('../images/work-abc-3.jpg');
}

#image-link-10 {
  background-image: url('../images/tripal-user-journey.png');
}

#image-link-11 {
  background-image: url('../images/abc-motivations.png');
}

#image-link-12 {
  background-image: url('../images/abc-demographics.png');
}

#image-link-14 {
  background-image: url('../images/work-tripal-3.jpg');
}

#image-link-15 {
  background-image: url('../images/herocard-abc-1.jpg');
}

.secondary-button {
  background-color: white;
  color: var(--primaryColor);
  cursor: pointer;
  transition: var(--motion-2);
}

.secondary-button:hover {
  color: #a81e33;
}

.secondary-button:active {
  color: var(--primaryColor-light);
  transition: var(--motion-1);
}

footer {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--main-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--text-color);
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
}

#left-contact {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
}

#right-contact {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
}

.whitecopy {
  color: white;
}

#getintouch {
  color: white;
  padding-bottom: 1rem;
}

.contact-list {
  padding-top: 0.5rem;
  font-family: var(--secondaryFont);
  list-style: none;
  color: white;
}

.logo-rev {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 1rem;
}

.wrapper-grey {
  background-color: var(--text-color);
}

/*  MODAL ---------------------------------- MODAL ---------------------------------- */
#modal-menu {
  opacity: 1;
  position: fixed;
  top: 72px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 250;
}

#close-btn {
  font-family: var(--primaryFont);
  font-weight: 500;
  color: var(--background);
  font-size: 1.5rem;
  position: absolute;
  top: 16px;
  right: 46px;
}

#close-btn:hover {
  color: var(--primaryColor);
  transform: scale(1.1);
  cursor: pointer;
}

#modal-menu.hidden {
  opacity: 0;
  top: 200vh;
}

#modal-menu h2 a {
  color: white;
  text-decoration: none;
}

#modal-menu h2 {
  padding: 2rem 6rem;
  transition: 400ms;
}

#modal-menu h2:hover {
  transform: scale(1.2);
}


/* media queries --------------------------*/
/* media queries --------------------------*/

@media screen and (min-width: 1200px) {

  #introCopy {
    font-family: var(--primaryFont);
    font-weight: 200;
    line-height: 2rem;
    color: var(--text-color);
    font-size: 18px;
  }}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 960px) {

#wailogo {
  max-height: 30px;}

.box-rows {
  flex: 100%;
  width: 100%;
  height: auto;
  }

#image-link-3, #image-link-2, #image-link-7 {
  width: auto;
  height: 100%;
  min-height: 400px;
  margin-bottom: 2rem;

#about-me {
    font-size: 3.5rem;
    letter-spacing: -2px;}

#getintouch {
  font-size: 3.5rem;
  letter-spacing: -2px;}

#about-me-section .skills {
    padding-top: 1rem;}
  
.tools {
    padding-top: 1rem;}
  
#left-about-me {
    grid-column: span 12;}
  
#right-about-me {
    grid-column: span 12;
    gap: 0;}

#about-me-section .skills {
    padding-top: 1rem;}

.skills-list {
  padding-right: 0.5rem;}
  
.tools {
    padding-top: 1rem;}
  
#left-about-me {
    grid-column: span 12;}

footer {  
  padding: 36px 24px;}

.contact-list {
  grid-column: span 12;
  padding: 0;}
 
#left-contact {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
#right-contact {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    h5 {
    font-size: 1.3rem;
    line-height: 2rem;
  }}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

.side-text, .image-box70, .image-box50 {
  flex: 0 100%;}

nav {
  padding: 1rem 24px;}  

.navLinks a {
  display: none;} 

nav #burger {
  display: inherit;}  

.linkedIn {
  display: none;} 

.container-3rows {
  justify-content: flex-start;}
  
.section-header {
  padding: 24px;}

#about-me-section {
  padding: 36px 24px;}  

main {
  padding: 24px;}
}

/* scriptcity */